TAClassifiedApplication/TAClassifiedApplication/Service References/ClassifiedService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClassifiedService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IClassifiedService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClassifiedService_GetAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAdd" />
  </wsdl:message>
  <wsdl:message name="IClassifiedService_GetAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAddResponse" />
  </wsdl:message>
  <wsdl:message name="IClassifiedService_GetUserDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetails" />
  </wsdl:message>
  <wsdl:message name="IClassifiedService_GetUserDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IClassifiedService_GetLoginDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginDetails" />
  </wsdl:message>
  <wsdl:message name="IClassifiedService_GetLoginDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLoginDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IClassifiedService">
    <wsdl:operation name="GetAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassifiedService/GetAdd" message="tns:IClassifiedService_GetAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassifiedService/GetAddResponse" message="tns:IClassifiedService_GetAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassifiedService/GetUserDetails" message="tns:IClassifiedService_GetUserDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassifiedService/GetUserDetailsResponse" message="tns:IClassifiedService_GetUserDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IClassifiedService/GetLoginDetails" message="tns:IClassifiedService_GetLoginDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClassifiedService/GetLoginDetailsResponse" message="tns:IClassifiedService_GetLoginDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IClassifiedService" type="tns:IClassifiedService">
    <wsp:PolicyReference URI="#NetTcpBinding_IClassifiedService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAdd">
      <soap12:operation soapAction="http://tempuri.org/IClassifiedService/GetAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserDetails">
      <soap12:operation soapAction="http://tempuri.org/IClassifiedService/GetUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLoginDetails">
      <soap12:operation soapAction="http://tempuri.org/IClassifiedService/GetLoginDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClassifiedService">
    <wsdl:port name="NetTcpBinding_IClassifiedService" binding="tns:NetTcpBinding_IClassifiedService">
      <soap12:address location="net.tcp://localhost:9025/TAServiceLibrary/ClassifiedService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9025/TAServiceLibrary/ClassifiedService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>